<aside class="phpdocumentor-element-found-in">
    <abbr class="phpdocumentor-element-found-in__file" title="{{ node.file.path }}"><a href="{{ link(node.file) }}#source-view.{{ node.line }}">{{ node.file.path|raw|replace({'woocommerce/': ''}) }}</a></abbr>
    :
    <span class="phpdocumentor-element-found-in__line">{{ node.line }}</span>
</aside>
